<!DOCTYPE html>
<html>
<head>
  <title>Hangul tutor</title>
  <%= stylesheet_link_tag    "hangul_tutor/application", media: "all" %>
  <%= javascript_include_tag "hangul_tutor/application" %>
  <%= csrf_meta_tags %>
</head>
<body class='hangul'>

<%= yield %>

</body>
</html>
